/* Initial settings */
* {
  margin: 0;
}

ul {
  padding-left: 20px;
}

body {
  position: fixed;
  width: 100vw;
  font-family: "Jura", sans-serif;
}
/* ******** */
/* clearfix */
.clearfix {
  overflow: auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
/* *************************** */
/* First page - Welcome screen */
.header {
  color: white;
  background-color: rgb(89, 145, 228);
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  width: calc(100vw - 40px);
  border-bottom: 2px solid white;
  margin: 0 20px;
  color: white;
}

.nameParagraph {
  font-weight: bold;
  width: fit-content;
  float: left;
  padding: 20px 0;
}

.navigation {
  float: right;
  width: fit-content;
  text-align: right;
  padding: 20px 0;
  margin: 0;
}

.navigation li {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.navigation li:hover {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.headerHeading {
  padding-top: 10px;
  font-size: 300%;
  text-align: center;
}

.headerParagraph {
  font-size: 150%;
  text-align: center;
}
.headerImage {
  display: block;
  height: 40vh;
  margin: auto;
  margin-top: 20vh;
  padding: 0 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}

.headerFooterParagraph {
  position: absolute;
  top: 97vh;
  left: 20px;
}

.headerTime {
  position: absolute;
  top: 97vh;
  right: 20px;
}
/* *************************** */
/* Second page - Personal Info */
.basicInfo {
  height: 100vh;
  background-color: rgb(164, 205, 243);
}

.basicInfo div:not(.navbar2) {
  padding: 10px;
  background-color: rgba(220, 234, 248, 0.5);
  border: 1px solid rgb(89, 145, 228);
  border-radius: 10px;
  width: 80vw;
  margin: 10px 20px;
  height: fit-content;
}
.basicInfo div:nth-child(2n) {
  float: left;
}
.basicInfo div:nth-child(2n + 1) {
  float: right;
  text-align: right;
}
.personalDataHeading {
  text-align: center;
  padding: 10px;
  font-size: 300%;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
  border-bottom: 2px solid black;
}

.downloadCVButton {
  clear: both;
  display: block;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(152, 199, 243);
  border: 1px solid rgb(89, 145, 228);
  font-size: 100%;
  cursor: pointer;
  margin-bottom: 50px;
}
.downloadCVButton:hover {
  background-color: rgb(182, 208, 235);
}
/* ************************************ */
/* Navigation on all pages except first */
.navbar2,
.navbar3,
.navbar4 {
  display: block;
  position: absolute;
  top: 293vh;
  width: calc(100vw - 40px);
  border-top: 2px solid black;
  margin: 0 20px;
  padding: 0;
}

.navbar3 {
  top: 493vh;
}

.navbar4 {
  top: 793vh;
  color: white;
  border-top: 2px solid white;
}
.navbar2 li,
.navbar3 li,
.navbar4 li {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.navbar2 li:hover,
.navbar3 li:hover {
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.navbar4 li:hover {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}
/* ************* */
/* Projects Page */
.projects {
  height: 100vh;
  color: black;
  background-image: linear-gradient(rgb(201, 225, 248), rgb(220, 234, 248));
  text-align: center;
}

.projectHeading {
  text-align: center;
  padding: 10px;
  font-size: 300%;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  color: black;
  border-bottom: 2px solid black;
}

.projectsList {
  float: left;
  width: 20%;
  background-color: white;
  height: calc(100vh - 220px);
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  border: 2px solid rgb(89, 145, 228);
  border-radius: 10px;
}

.previewProject {
  text-align: center;
  float: right;
  background-color: white;
  width: calc(80% - 100px);
  height: calc(60vh - 220px);
  padding: 10px;
  margin-right: 20px;
  border: 2px solid rgb(89, 145, 228);
  border-radius: 10px;
}

.projectDescription {
  float: right;
  background-color: white;
  width: calc(80% - 120px);
  height: calc(60.2vh - 240px);
  margin-top: 10px;
  margin-right: 20px;
  border: 2px solid rgb(89, 145, 228);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.projectDescription h2 {
  margin: 10px;
}

.previewProject img {
  height: 100%;
  width: 100%;
  margin: 10px auto;
}

.projectsList img {
  height: calc(5vh);
  margin: 10px;
  margin-top: 30px;
  border: 1px solid rgb(89, 145, 228);
  border-radius: 5px;
}
/* ************ */
/* Contact page */
.contact {
  background-color: rgb(89, 145, 228);
  height: 100vh;
  color: white;
  text-align: center;
}

.contactHeading {
  padding: 10px;
  font-size: 300%;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid white;
}

.contact div {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}
.contact label {
  font-weight: bold;
  font-size: 150%;
  padding: 10px;
}
.contact input {
  width: 440px;
  padding: 10px;
  border-radius: 10px;
  font-size: 120%;
}
.contact textarea {
  padding: 10px;
  border-radius: 10px;
  font-size: 120%;
  width: 440px;
  height: 500px;
}
.submitButton {
  width: fit-content;
}
.contact input[type="submit"] {
  width: 220px;
  background-color: rgb(145, 180, 231);
  border: 2px solid rgb(67, 132, 230);
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: rgb(187, 207, 236);
}
