html {  
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body {
  margin: 1rem;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  font-weight: 400;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.178);
}

input {
  font-size: 1rem;
  width: 90%;
  border: 0;
  outline: none;
  font-family: monospace;
}

code {
  background-color: beige;
  padding: 3px;
  font-weight: 400;
}

code:hover {
  cursor: pointer;
}

.terminal {
  border: 2px solid black;
  max-width: 31rem;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 5px;
}

.prompt {
  font-family: monospace;
}

.info-msg {
  margin: 0;
  font-weight: 400;
}

.terminal-input {
  width: calc(100% - 2em);
}

.info {
  position: relative;
  font-size: 0.8em;
  max-width: 30rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s linear;
}

.info hr {
  width: 80%;
}

.info p {
  margin: 0;
}

.terminal:hover > .info {
  max-height: 17rem;
}

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 10px;
  }
}
